body,h1,h2,h3,h4,h5 {
  font-family: "Raleway", sans-serif
}

.w3-content {
  max-width: 1400px;
}

img {
  width: 100%;
}

li>img {
  width: 50%;
}

.w3-card.w3-margin.w3-margin-top>img {
  width: 100%;
}

.w3-card-4.w3-margin.w3-white>img {
  width: 100%;
}

.w3-left.w3-margin-right {
  width: 50px;
}
